/* default styles */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Basic styling  of pokemon content*/
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #ed3a3a;
  color: white;
  padding: 10px 0;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#searchInput {
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.grid-container {
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.pokemon-card {
  margin-top: 50px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card img {
  max-width: 100px;
  margin: 0 auto;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.close-button {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal-content h2 {
  font-size: 28px;
  font-weight: bolder;
  margin-bottom: 10px;
}


.modal-content p {
  font-size: 16px;
  margin-bottom: 10px;
}

.modal-content ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.modal-content ul li {
  font-size: 14px;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-bottom: 5px;
  font-weight: bold;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.about-content {

    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-areas: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    font-weight: bolder;
    animation: about 1s ease-in-out;

}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
    gap: 30px;
}

#pagination #prevButton,
#nextButton {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #ed3a3a;
    color: white;
    font-weight: bold;
    transition: all .4s ease-in-out ;
}

#welcome {
    text-align: center;
    margin-top: 50px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

/* style footer */
footer {
    background-color: #ed3a3a;
    color: white;
    font-weight: bolder;
    padding: 10px 0;
    text-align: center;
}

#searchInput a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #ed3a3a;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .4s ease-in-out ;
}
