html, body {
  color: white;
  background-color: black;
  font-family: 'Roboto Slab', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

a:hover {
  color: #f80303;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: blue;
  padding: 10px 50px;
}

header p {
  font-size: 1rem;
}

nav {
  display: flex;
  gap: 10px;
}

button {
  font-size: 1.1rem;
  background-color: #6f6f6f;
  color: white;
  padding: 15px 20px;
  cursor: pointer;
  border: 0;
  font-family: inherit;
}


button:hover {
  background-color: #4f4f4f;
  opacity: 1.0;
}

#mail img {
  width: 20px;
  height: 20px;
  padding-top: 5px;


}

.h2 {
  width: 800px;
  font-size: 3rem;
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 20px;
}

.hero-image,
.about-image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: rgb(22, 21, 21);
}

.about-image {
  height: 162.29px;
  width: 162.29px;
  left: 321px;
  top: 224.9px;
}

.about-image img,
.hero-image img {
  width: 90%;
}

.h3,
.section-description {
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
}

.h3 {
  margin-top: 100px;
}

.section-description {
  font-size: 0.8rem;
  font-weight: 0;
  margin: 10px 0;
}

.projects,
.roles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  padding: 50px 0;
}

.projects img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.projects img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.role {
  margin-bottom: 80px;
}

.about-me {
  margin-top: 10px;
  margin-bottom: 50%;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  margin: 10px;
  padding: 10px 0;
}

.about-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}